name: Build & Test & Sonar & Publish & Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CSPROJ_FILE_PATH: "./src/GHM.Validator/GHM.Validator.csproj"
  NUPKG_FILE_PATH: "./src/GHM.Validator/bin/Release/*.nupkg"

jobs:
  build-test:
    runs-on: ubuntu-latest
    outputs:
      release_already_exists: ${{ steps.check_release.outputs.RELEASE_ALREADY_EXISTS }}
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Install SonarScanner for .NET
      run: dotnet tool install --global dotnet-sonarscanner
      
    - name: Install .NET coverage
      run: dotnet tool install --global dotnet-coverage
      
    - name: SonarQube Scan
      run: |
        dotnet sonarscanner begin /k:"GustavoM96_GHM.Validator" /o:"gustavom96" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.token="$SONAR_TOKEN" /d:sonar.cs.vscoveragexml.reportsPaths="./coverage/coverage.xml"
        dotnet build --no-incremental
        dotnet-coverage collect "dotnet test" -f xml -o "./coverage/coverage.xml"
        dotnet sonarscanner end /d:sonar.token="$SONAR_TOKEN"
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
  check-release-version:
    runs-on: ubuntu-latest
    outputs:
      release_already_exists: ${{ steps.check_release.outputs.RELEASE_ALREADY_EXISTS }}
      package_version: ${{ steps.extract_version.outputs.PACKAGE_VERSION }}
    steps:
    - uses: actions/checkout@v4
    
    - name: Extract Package Version
      id: extract_version
      run: |
        PACKAGE_VERSION=$(cat ${{ env.CSPROJ_FILE_PATH }} | grep '<Version>' | sed -E 's/.*<Version>(.*)<\/Version>.*/\1/')
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_OUTPUT
      shell: bash

    - name: Check if Release Tag Exists
      id: check_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        if gh release view "v${{ env.PACKAGE_VERSION }}" > /dev/null 2>&1; then
          echo "Version v${{ env.PACKAGE_VERSION }} already exists. ByPass The Publish job."
          echo "RELEASE_ALREADY_EXISTS=true" >> "$GITHUB_OUTPUT"
        else
          echo "Versão v${{ env.PACKAGE_VERSION }} é nova."
          echo "RELEASE_ALREADY_EXISTS=false" >> "$GITHUB_OUTPUT"
        fi
      shell: bash
      
  publish-nuget: 
    runs-on: ubuntu-latest
    needs: [build-test, sonar, check-release-version]
    if: github.ref == 'refs/heads/main' && needs.check-release-version.outputs.release_already_exists == 'false'
    steps:
    - uses: actions/checkout@v4
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Create the package
      run: dotnet pack --configuration Release ${{ env.CSPROJ_FILE_PATH }}
        
    - name: Publish the package to nuget.org
      run: dotnet nuget push ${{ env.NUPKG_FILE_PATH }} -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_KEY }}

  release:
    runs-on: ubuntu-latest
    needs: [publish-nuget, check-release-version]
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4

    - name: Get Last Commit Message
      run: |
        LAST_COMMIT_MESSAGE=$(git log -1 --pretty=%B | jq -Rs .)
        echo "LAST_COMMIT=$LAST_COMMIT_MESSAGE" >> $GITHUB_ENV
      shell: bash

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: v${{ env.PACKAGE_VERSION }}
        release_name: Release v${{ env.PACKAGE_VERSION }}
        body: |
          This release includes the latest changes and updates for version v${{ env.PACKAGE_VERSION }}.
          Url to the package => https://www.nuget.org/packages/GHM.Validator/${{ env.PACKAGE_VERSION }}
          
          ------Description------
          ${{ env.LAST_COMMIT }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PACKAGE_VERSION: ${{ needs.check-release-version.outputs.package_version }}
