name: Build & Test & Sonar & Publish & Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CSPROJ_FILE_PATH: "./src/GHM.Validator/GHM.Validator.csproj"
  NUPKG_FILE_PATH: "./src/GHM.Validator/bin/Release/*.nupkg"
  COVERAGE_FILE_PATH : "./coverage/coverage.xml"

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Install . NET coverage
      run: dotnet tool install --global dotnet-coverage

    - name: Test with Coverage
      run: dotnet-coverage collect "dotnet test --no-build" -f xml -o "${{ env.COVERAGE_FILE_PATH }}" 

    - name: Upload Coverage Artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ${{ env.COVERAGE_FILE_PATH }}
        retention-day: 1
      
  sonar:
    runs-on:  ubuntu-latest
    needs: build-test
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth:  0

    - name: Setup . NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Download Coverage Report
      uses: actions/download-artifact@v4
      with: 
        name: coverage-report
        path: ./coverage

    - name: Install SonarScanner for .NET
      run: dotnet tool install --global dotnet-sonarscanner
      
    - name: SonarQube Scan
      run: |
        dotnet sonarscanner begin /k:"GustavoM96_GHM.Validator" /o:"gustavom96" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.token="$SONAR_TOKEN" /d:sonar.cs.vscoveragexml.reportsPaths="${{ env.COVERAGE_FILE_PATH }}"
        dotnet sonarscanner end /d:sonar.token="$SONAR_TOKEN"
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
  publish-nuget:    
    runs-on: ubuntu-latest
    needs: sonar
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Create the package
      run: dotnet pack --configuration Release ${{ env.CSPROJ_FILE_PATH }}
        
    - name: Publish the package to nuget.org
      run: dotnet nuget push ${{ env.NUPKG_FILE_PATH }} -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json --skip-duplicate
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_KEY }}

  release:
    runs-on: ubuntu-latest
    needs: publish-nuget
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4
  
    - name: Extract Package Version
      run: |
        PACKAGE_VERSION=$(cat ${{ env.CSPROJ_FILE_PATH }} | grep '<Version>' | sed -E 's/.*<Version>(.*)<\/Version>.*/\1/')
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV
      shell: bash

    - name: Get Last Commit Message
      run: |
        LAST_COMMIT_MESSAGE=$(git log -1 --pretty=%B | jq -Rs .)
        echo "LAST_COMMIT=$LAST_COMMIT_MESSAGE" >> $GITHUB_ENV
      shell: bash
    
    - name: Check if Release Tag Exists
      id: check_release
      run: |
        if gh release view "v${{ env.PACKAGE_VERSION }}" > /dev/null 2>&1; then
          echo "EXISTS_RELEASE=true" >> $GITHUB_ENV
        else
          echo "EXISTS_RELEASE=false" >> $GITHUB_ENV
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      if: env.EXISTS_RELEASE == 'false'
      with:
        tag_name: v${{ env.PACKAGE_VERSION }}
        release_name: Release v${{ env.PACKAGE_VERSION }}
        body: |
          This release includes the latest changes and updates for version v${{ env.PACKAGE_VERSION }}.
          Url to the package => https://www.nuget.org/packages/GHM.Validator/${{ env.PACKAGE_VERSION }}
          
          ------Description------
          ${{ env.LAST_COMMIT }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
